
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
 
}


header {
  background-color: #565353;
  color: #fff;
  text-align: center;
  padding:2px
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  flex: 1 1 30%;
  margin-right: 20px;
}

.cards-container {
  flex: 1 1 70%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #565353;
  padding: 20px;
  margin: 10px;
  flex-basis: calc(25% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  color: #fff;
}
.card p{
    color: #fff;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form textarea {
    
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
